<div *ngIf="(lessonContent$ | async) as lessonContent">
  <div *ngIf="!quizMode; else showQuiz">
    <app-lesson-read [lessonContent]="lessonContent"
                      (takeQuizClick)="onTakeQuizClick()"></app-lesson-read>
  </div>
  <ng-template #showQuiz>
    <app-lesson-quiz [quizContent]="quizContent$ | async"
                      [lessonPath]="path"
                      [submittedAnswers]="submittedAnswers$ | async"
                      (answerSubmittion)="onAnswerSubmission($event)"
                      (cancelQuizClick)="onCancelQuizClick()"></app-lesson-quiz>
  </ng-template>
</div>
