body {
  background-color: #262626;
  color: #fff;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.main-content {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;

  .content {
    height: 90vh;
  }
}

a {
  color: rgb(51, 162, 255);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button, .button {
  align-self: flex-end;
  padding: .375rem .75rem;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  transition: all 0.5s ease;
  cursor: pointer;

  &.primary {
    background-color: rgb(37, 156, 64);
    border: 1px solid rgb(38, 159, 65);
  }

  &.secondary {
    background-color: rgb(88, 95, 99);
    border-color: rgb(102, 94, 83);
  }

  &:hover {
    filter: brightness(150%);
    text-decoration: none;
  }
}